{% extends "headsidebar.html" %}

{% block page %}
<!-- 疫苗信息展示 -->
<div class="row mb-4">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>可预约疫苗列表</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">疫苗厂商
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    总数量</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    是否可预约</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    预定接种日期</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody id="vaccineinfo">
                            <!-- {% for i in vaccineInfo %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.provider}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{i.total}}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">Available</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{i.vaccination_dates}}</span>
                                </td>
                                <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                        data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            {% endfor %} -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 预约模态框 -->
<div class="modal fade" id="bookVer" tabindex="-1" aria-labelledby="bookVer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">人机验证</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>请输入图中验证码：</p>
                <form>
                    <div class="form-floating shadow" onkeypress="return event.keyCode != 13;">
                        <input type="text" class="form-control" id="captcha" name="captcha" placeholder="Captcha"
                            minlength="5" maxlength="5" required>
                        <label for="captcha">Captcha</label>
                        <input id="batch_id" type="hidden">
                    </div>
                    <div class="py-3">
                        <img src="{% url 'captcha' %}" alt="captcha" class="captcha"
                            style="cursor:pointer; object-fit:fill;" loading="lazy"
                            onclick='this.src="{% url "captcha" %}?"+Math.random()'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn bg-gradient-primary" onclick="book()">预约</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 用toast展示预约结果 -->
<div id="ToastDiv"></div>
{% endblock page %}
{% block script %}
<script src="../static/js/vaccine-user.js"></script>
{% endblock script %}
